@using SavageOrcs.Web.ViewModels.Text
@model AddTextViewModel

<link itemprop="url" rel="stylesheet" href="~/lib/search-select/search-select.css" />
<div id="addImageTextPlaceholder"></div>
<div id="addVideoTextPlaceholder"></div>
<div id="deleteTextPlaceholder"></div>

<div class="wrapper-text-add">
    <div class="text-add-action-row">
        <div class="row mt-1 mb-1 display-8-custom">
            <div class="col-md-auto pr-2">
                <button class="btn btn-dark-custom" id="delete">Видалити</button>
            </div>
            <div class="col-md-auto pr-2">
                <a class="btn btn-dark-custom" href="/Text/Add">Додати ще</a>
            </div>
            <div class="col-md-auto pr-2">
                <button id="save" class="btn btn-dark-custom">Зберегти</button>
            </div>
        </div>
    </div>
    <hr style="border-top: 3px solid #3c6624">

    <div class="text-add-content-row">
        <div class="text-add-left-col">
            @Html.HiddenFor(m => m.Id)
            <div class="row pb-2">
                <div class="col-md-4 d-flex align-items-center">
                    <label>
                        Англійська версія:
                    </label>
                </div>
                <div class="col-md-8">
                    @Html.CheckBoxFor(m => m.EnglishVersion, new { @class = "text-box-custom form-control"})
                </div>
            </div>
            <div class="row pb-2 " id="ukrTextRow">
                <div class="col-md-4 d-flex align-items-center">
                    <label>
                        Українська версія:
                    </label>
                </div>

                <div class="col-md-8" id="ukrText">
                    <input id="dropdown-input-for-ukrText"
                           name="dropdown-input-for-ukrText"
                           class="Search-Select--Hidden-Input"
                           placeholder=""
                           data-search-placeholder="Виберіть українську версію тексту"
                           hidden />
                </div>
            </div>
            <div class="row pb-2">
                <div class="col-md-4 d-flex align-items-center">
                    <label >
                        Назва:
                    </label>
                </div>
                <div class="col-md-8">
                    @Html.TextAreaFor(m => m.Name, new { @class = "text-box-custom form-control area-for-custom"})
                </div>
            </div>
            <div class="row pb-2">
                <div class="col-md-4 d-flex align-items-center">
                    <label >
                        Тема:
                    </label>
                </div>
                <div class="col-md-8">
                    @Html.TextAreaFor(m => m.Subject, new { @class = "text-box-custom form-control  area-for-custom"})
                </div>
            </div>
            <div class="row pb-2">
                <div class="col-md-4 d-flex align-items-center">
                    <label >
                        Куратор:
                    </label>
                </div>

                <div class="col-md-8" id="Curator">
                    <input id="dropdown-input-for-curator"
                           name="dropdown-input-for-curator"
                           class="Search-Select--Hidden-Input"
                           placeholder=""
                           data-search-placeholder="Виберіть куратора"
                           hidden />
                </div>
            </div>
            <div class="row pb-2">
                <div class="col-md-5">
                    <button id="addPhoto" class="btn btn-dark-custom  mt-3">Додати фото</button>
                </div>
                <div class="col-md-2">
                </div>
                <div class="col-md-5">
                    <button id="removePhotos" class="btn btn-dark-custom  mt-3">Видалити фото</button>
                </div>
            </div>
            <div class="row" id="imageTextContainer">
            </div>

            <div class="row pb-2">
                <div class="col-md-5">
                    <button id="addVideo" class="btn btn-dark-custom  mt-3">Додати відео</button>
                </div>
                <div class="col-md-2">
                </div>
                <div class="col-md-5">
                    <button id="removeVideos" class="btn btn-dark-custom  mt-3">Видалити відео</button>
                </div>
            </div>
            <div class="row" id="videoTextContainer">
            </div>
        </div>
        <div class="text-add-right-col">
            <div id="editorjs" name="editor"></div>
        </div>
    </div>
</div>


@section Scripts{
    <script src="~/lib/search-select/search-select.js"></script>
    <script src="~/lib/editor/editor.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/editorjs-text-color-plugin@1.12.1/dist/bundle.js"></script>

    <!--<script src="https://cdn.jsdelivr.net/npm/@@editorjs/editorjs@latest"></script>-->
    <script src="https://cdn.jsdelivr.net/npm/@@editorjs/header@latest"></script>
    <script src="https://cdn.jsdelivr.net/npm/@@editorjs/list@latest"></script>
    <script src="https://cdn.jsdelivr.net/npm/@@editorjs/raw"></script>
    <script src="https://cdn.jsdelivr.net/npm/@@editorjs/checklist@latest"></script>

    <script src="https://cdn.jsdelivr.net/npm/@@editorjs/paragraph@latest"></script>
    <script src="https://cdn.jsdelivr.net/npm/@@editorjs/simple-image@latest"></script>
    <script>
        var addTextView = new AddTextView();

        addTextView.IsNew = '@Html.Raw(Model.IsNew)' === '@true';
        addTextView.ToDelete = '@Html.Raw(Model.ToDelete)' === '@true';
        addTextView.Blocks = @Json.Serialize(Model.Blocks);
        addTextView.Curators = @Json.Serialize(Model.Curators);
        addTextView.CuratorName = @Json.Serialize(Model.CuratorName);
        addTextView.CuratorId = @Json.Serialize(Model.CuratorId);

        addTextView.UkrTexts = @Json.Serialize(Model.UkrTexts);
        addTextView.UkrTextName = @Json.Serialize(Model.UkrTextName);
        addTextView.UkrTextId = @Json.Serialize(Model.UkrTextId);

        $(document).ready(function () {
            addTextView.InitializeControls();
        });

    </script>
}