@using SavageOrcs.Web.ViewModels.User
@model UserCatalogueViewModel[]

<link itemprop="url" rel="stylesheet" href="~/css/user/userCatalogue.css" asp-append-version="true" />
<div class="wrapper-user-catalogue">
    <div class="user-catalogue-action-row">
        <div class="user-catalogue-action-item">
            @Html.TextBox("Name", "",new { @class = "text-box-custom form-control display-8-custom", @placeholder = "Ім'я"})
        </div>
        <div class="user-catalogue-action-item">
            @Html.TextBox("Email","", new { @class = "text-box-custom form-control display-8-custom", @placeholder = "Email"})
        </div>

        <div class="user-catalogue-action-item">
            <button class="btn btn-dark-custom display-8-custom" id="search">Пошук</button>
        </div>
        <div class="user-catalogue-action-item">
            <button class="btn btn-dark-custom display-8-custom" id="clearFilters">Х</button>
        </div>
    </div>
    <div class="user-catalogue-table-row">
        <div class="col-md-12 text-white-custom" id="catalogueUserTable">
            <div class="d-flex text-white-custom display-7-custom table-header-catalogue-user justify-content-center pb-2">
                <div class="table-header-catalogue-user-number">
                    №
                </div>
                <div class="table-header-catalogue-user-name">
                    Ім'я та прізвище
                </div>
                <div class="table-header-catalogue-user-email">
                    Пошта
                </div>
            </div>
            <div class="table-body-catalogue-user display-8-custom text-white-custom">
                @for (var i = 1; i <= Model.Length; i++)
                {
                    <div class="table-body-catalogue-user-row justify-content-center d-flex">
                        <div class="table-body-catalogue-user-column-number">@i.ToString()</div>
                        <div class="table-body-catalogue-user-column-name">
                            <a class="table-body-catalogue-user-column-name-link" href="/User/Revision?id=@Model[i-1].Id.ToString()">@Model[i-1].FullName</a>
                            </div>
                        <div class="table-body-catalogue-user-column-email">@Model[i-1].Email</div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
@section Scripts{
    <script>
        var catalogueUserView = new CatalogueUserView();

        catalogueUserView.IsGlobalAdmin = '@(this.User.IsInRole("Global admin"))' === '@true';
        $(document).ready(function () {
            catalogueUserView.InitializeControls();
        });

    </script>
}