@using SavageOrcs.Web.ViewModels.User
@model UserRevisionViewModel
<link itemprop="url" rel="stylesheet" href="~/css/user/userRevision.css" asp-append-version="true" />
<div id="addImagePlaceholder"></div>
<div class="wrapper-user-revision">
    <div class="row pb-2">
        <div class="col-md-7">
        </div>
        <div class="col-md-5">
            <label class="font-weight-super-bold-custom display-7-custom">
                Активні ролі
            </label>
        </div>
    </div>
    <div class="row">
        <div class="col-md-7">
            <div class="row pb-2">
                <div class="col-md-5 d-flex align-items-center">
                    <label class=" display-8-custom">
                        Ім'я:
                    </label>
                </div>
                <div class="col-md-6">
                    @Html.TextBoxFor(m => m.FirstName, new { @class = "text-box-custom form-control display-8-custom"})
                </div>
            </div>
            <div class="row pb-2">
                <div class="col-md-5 d-flex align-items-center">
                    <label class="display-8-custom">
                        Прізвище:
                    </label>
                </div>
                <div class="col-md-6">
                    @Html.TextBoxFor(m => m.LastName, new { @class = "text-box-custom form-control display-8-custom"})
                </div>
            </div>
            <div class="row pb-2">
                <div class="col-md-5 d-flex align-items-center">
                    <label class="display-8-custom">
                        Пошта:
                    </label>
                </div>
                <div class="col-md-6">
                    @Html.TextBoxFor(m => m.Email, new { @class = "text-box-custom form-control display-8-custom"})
                </div>
            </div>
        </div>
        <div class="col-md-5" id="revisionUserTable">
            <div class="d-flex text-white-custom display-7-custom table-header-revision-user justify-content-center pb-2">
                <div class="table-header-revision-user-number">
                    №
                </div>
                <div class="table-header-revision-user-role-name">
                    Назва
                </div>
                <div class="table-header-revision-user-role-status">
                    Активна
                </div>
            </div>
            <div class="table-body-revision-user display-8-custom text-white-custom">
                @for (int i = 1; i < Model.AllRoles.Length + 1; i++)
                {
                    <div class="table-body-row justify-content-center d-flex">
                        <div class="table-body-revision-user-number">
                            @i.ToString()
                        </div>
                        <div class="table-body-revision-user-role-name">
                            @Model.AllRoles[i-1].Name
                        </div>
                        <div class="table-body-revision-user-role-status">
                            <input @{
                               if (Model.RoleIds.Contains(Model.AllRoles[i-1].Id)) {
                                   @("checked=\"checked")
;
                               }
                               }
                               class="check-box-row"
                               type="checkbox"
                               value=@Model.AllRoles[i-1].Id />
                        </div>
                    </div>
                }
            </div>
            <div class="row pt-2">
                <div class="col-md-12">
                    <button id="saveUser" class="btn btn-dark-custom display-8-custom" style="width: 100%">Зберегти</button>
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts{
    <script>
        var revisionUserView = new RevisionUserView();
        revisionUserView.UserId = '@Html.Raw(Model.Id)';
        $(document).ready(function () {
            revisionUserView.InitializeControls();
        });

    </script>
}