@using SavageOrcs.Web.ViewModels.Mark
@using Microsoft.Extensions.Localization
@using SavageOrcs.Web.Resources.Classes
@inject LanguageService Language
@model MarkCatalogueViewModel[]
@for (int i = 1; i <= Model.Length; i++)
{
    <a class="curator-text-data-row"
   href="@Url.Action("Revision", Model[i-1].IsCluster ? "Cluster": "Mark", new { id = Model[i-1].Id })">
        @Html.HiddenFor(m => m[i-1].Id, new { id =  i.ToString() + Model[i-1].Id.ToString()})
        @Html.HiddenFor(m => m[i-1].IsCluster, new { id =  i.ToString() + Model[i-1].IsCluster.ToString()})
        <div class="col-item-for-curator-number">
            <div class="col-content-item">
                <div class="col-number-item">@i.ToString()</div>
            </div>
        </div>
        <div class="col-curator-text-double">
            <div class="col-curator-text-item">
                <div class="col-curator-text-name">@Model[i - 1].Area.Name</div>
            </div>
        </div>
        <div class="col-curator-text">
            <div class="col-curator-text-item">
                <div class="col-curator-text-name">@Model[i - 1].Name</div>
            </div>
        </div>
    </a>
}