@using SavageOrcs.Web.ViewModels.Mark
@using Microsoft.Extensions.Localization
@using SavageOrcs.Web.Resources.Classes
@inject LanguageService Language
@model MarkCatalogueViewModel[]
@for (int i = 1; i <= Model.Length; i++)
{
    <div class="data-row" onclick="catalogueMarkView.Show(this)" style="opacity: 0.3">
        @Html.HiddenFor(m => m[i-1].Id, new { id =  i.ToString() + Model[i-1].Id.ToString()})
        @Html.HiddenFor(m => m[i-1].IsCluster, new { id =  i.ToString() + Model[i-1].IsCluster.ToString()})
        <div class="col-item-red-circle">
            @if (this.User.IsInRole("Admin"))
            {
                <a class="col-content-item" href="/Mark/Add?id=@Model[i-1].Id.ToString()">
                    <img class="red-image-mark-row" src="~/images/redCircle.png">
                </a>
            }
            else
            {
                <div class="col-content-item">
                    <img class="red-image-mark-row" src="~/images/redCircle.png">
                </div>
            }
        </div>
        <div class="col-item-number">
            <div class="col-content-item">
                <div class="col-number-item">@i.ToString()</div>
            </div>

        </div>
        <div class="col-item">
            <div class="col-content-item">
                <div class="col-name-item">@Model[i - 1].Name</div>
            </div>
        </div>
        <div class="col-item">
            <div class="col-content-item">
                @if (!string.IsNullOrEmpty(Model[i - 1].Area?.Name)){
                    <div class="col-area-item">@Model[i - 1].Area.Name</div>
                }
                else if (!string.IsNullOrEmpty(Model[i - 1].ClusterName))
                {
                    <div class="col-area-item">@Model[i - 1].ClusterName</div>
                }
                else {
                    <div class="col-area-item"></div>
                }
            </div>
        </div>
        <div class="col-item">
            <div class="col-content-item">
                <div class="col-author-item">
                    @*@if (!string.IsNullOrEmpty(Model[i - 1].CuratorName))
                    {
                        <div style="padding-bottom: 5px">@Model[i - 1].CuratorName</div>
                    }*@
                    @if (!string.IsNullOrEmpty(Model[i - 1].ResourceName))
                    {
                        <div>@Language.GetMarkKey("SearchRowResourceName") @Model[i - 1].ResourceName</div>
                    }
                </div>
            </div>
        </div>
    </div>
}